{% extends 'base.html' %}
{% block content %}
<h3>Enter Updated Details</h3>
<br> <br>
<form method="POST" class="account-form">
   {% csrf_token %}  
   <div class="form-group row">  
      <label class="col-sm-2 col-form-label">FIRST NAME :</label>  
      <input type="text" name="first_name" placeholder="first_name"><br/>  
   </div>
   <div class="form-group row">
      <label class="col-sm-2 col-form-label">LAST NAME : </label>  
      <div class="col-sm-4">  
         <input type="text" name="last_name" placeholder="last_name"><br/>
      </div>
   </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">EMAIL :</label>  
    <div class="col-sm-4">  
       <input type="email" name="email" placeholder="email"><br/>
    </div>
   <div class="form-group row">
      <label class="col-sm-2 col-form-label">PASSWORD :</label>  
      <div class="col-sm-4">  
         <input type="password" name="password" placeholder="password"><br/>
      </div>
   </div>
   <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>  
      <div class="col-sm-4">  
         <button type="submit" class="btn btn-success">Update</button>  
      </div>
   </div>
   </div>  
</form>
{% endblock content %}