<footer class="footer" >
    <div class="container">
       <div class="row">
          <div class="footer-col">
             <h2>Contact Us</h2>
             <ul>
                <li>
                   <a href="#"><i class="fa fa-mobile" aria-hidden="true">  +1 9876543210</i></a>
                </li>
                <li>
                   <a href="#"><i class="fa fa-envelope" aria-hidden="true">  abc@xyz.com</i></a>
                </li>
                <li>
                   <a href="#"><i class="fa fa-phone" aria-hidden="true">  +1 1234567890</i></a>
                </li>
                <li>
                   <a href="#"><i class="fa fa-globe" aria-hidden="true">  https://www.xyz.com</i></a>
                </li>
             </ul>
          </div>
          <div class="footer-col" >
             <h2>Social Media </h2>
             <div class="social-links">
                <a href="#"> <i class="fa fa-facebook"></i> </a>
                <a href="#"> <i class="fa fa-linkedin"></i> </a>
             </div>
             <div class="social-links">
                <a href="#"> <i class="fa fa-twitter"></i> </a>
             </div>
             <div class="social-links">
                <a href="#"> <i class="fa fa-instagram"></i> </a>
                <a href="#"> <i class="fa fa-google-plus"></i> </a>
             </div>
          </div>
          <div class="footer-col">
             <h2>Reach Out</h2>
             <div class="location">
                <p class="address">Apt K, 2200, Foxhunt Lane, Blacksburg,<br>VA 24060</p>
                <div class="map">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14745.232837380072!2d88.37960876977539!3d22.492616599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027169df8e4277%3A0x4a8ec2ce97468eb2!2sMom&#39;s%20Magic!5e0!3m2!1sen!2sin!4v1632310847185!5m2!1sen!2sin" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>