<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
   </head>
   <body>
      <h2>USER LOGIN</h2>
      <br/>
      <form action="login" method="POST">
         {%csrf_token%}
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">USERNAME :</label>  
            <input type="text" name="username" placeholder="UserName"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">PASSWORD :</label>  
            <input type="password" name="password" placeholder="Enter Password"><br/><br/><br/>
         </div>
         <input type = "submit">
      </form>
      <div>
         {% for message in messages %}
         <h3> {{message}}  </h3>
         {% endfor %}
      </div>
   </body>
</html>