<title>Login</title>
{% extends 'base.html' %}
{% block content %}
      <h2>USER LOGIN</h2>
      <!-- <br/>
      <form action="login" method="POST">
         {%csrf_token%}
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">USERNAME :</label>  
            <input type="text" name="username" placeholder="UserName"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">PASSWORD :</label>  
            <input type="password" name="password" placeholder="Enter Password"><br/><br/><br/>
         </div>
         <input type = "submit">
      </form>
      <div>
         {% for message in messages %}
         <h3> {{message}}  </h3>
         {% endfor %}
      </div> -->

      <form action="login" method="post">
         {%csrf_token%}
         <div class="imgcontainer">
           <img  src="/static/images/img_avatar2.png" alt="Avatar" class="avatar">
         </div>
       
         <div class="loginContainer">
           <label for="uname"><b>Username</b></label>
           <input type="text" placeholder="Enter Username" name="uname" required>
       
           <label for="psw"><b>Password</b></label>
           <input type="password" placeholder="Enter Password" name="psw" required>
               
           <button type="submit">Login</button>
           <label>
             <input type="checkbox" checked="checked" name="remember"> Remember me
           </label>
         </div>
       
         <div class="cancel" style="background-color:#f1f1f1">
           <button type="button" class="cancelbtn">Cancel</button>
           <span class="psw">Forgot <a href="#">password?</a></span>
         </div>
       </form>
   {% endblock content %}