<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registration</title>
   </head>
   <body>
      <h2>USER REGISTRATION</h2>
      <br/>
      <form action="/accounts/register/" method="POST">
         {%csrf_token%}
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">FIRST NAME :</label>  
            <input type="text" name="first_name" placeholder="First Name"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">LAST NAME :</label>  
            <input type="text" name="last_name" placeholder="Last Name"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">USERNAME :</label>  
            <input type="text" name="username" placeholder="UserName"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">EMAIL ID :</label>  
            <input type="email" name="email" placeholder="Your Email"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">PASSWORD :</label>  
            <input type="password" name="password1" placeholder="Enter Password"><br/><br/>
         </div>
         <div class="form-group row">  
            <label class="col-sm-2 col-form-label">CONFIRM PASSWORD :</label>  
            <input type="password" name="password2" placeholder="Confirm Password"><br/><br/><br/>
         </div>
         <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
               <button type="submit" class="btn btn-success">SUBMIT</button>  
            </div>
         </div>
      </form>
      {% for message in messages %}
      <h3>
         {{message}}
      </h3>
      {% endfor %}
   </body>
</html>